.navlink {
  text-decoration: none;
  color: #fff;
}

.small-navlink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.navlink:hover {
  color:#535252;
  cursor: pointer;  
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1121px;
}

.projects-title {
  color: #323232;
  font-weight: bold;
  font-family: "Lora", serif;
  text-shadow: rgb(226, 221, 221) 2px 2px 2px;
  text-align: center;
}

.projects-paragraph {
  font-family: "Lora", serif;
  text-align: center;
}

@media screen and (max-width: 377px) {
  .projects-container {
    margin-left: 5px;
    margin-right: 5px;
  }
  .main-container { 
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 667px) and (min-width: 378px) { 
  .main-container { 
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) and (min-width: 668px) {
  .main-container { 
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .main-container { 
    padding-bottom: 30px;
  }
}