body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;;
  width: 100vw;
  height: 100vh;
  min-height: 85vh;
}
#root {
  height: 100%;
  width: 100%;
}

