body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;;
}
