.email-fixed {
  display: flex;
  width: 400px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  opacity: 0;
  bottom: 120px;
  transform: rotate(90deg);
  animation: show-email 600ms ease forwards;
  animation-delay: 4.7s;
}

.email-fixed .email-text {
  color: #fff;
}

@keyframes show-email {
  from {
    opacity: 0;
    right: -580px;
  }
  to {
    opacity: 1;
    right: -500px;
  }
}

.email-text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.email-text:hover {
  transform: translateX(-7px);
  color: #ff6363;
}

.email-fixed-line {
  margin-left: 40px;
  width: 100%;
}


@media screen and (max-width: 328px) and (min-width: 250px){
  .email-fixed {
    transform: rotate(0deg);
  }
  @keyframes show-email {
    from {
      opacity: 0;
      right: -310px;
    }
    to {
      opacity: 1;
      right: -170px
    }
  }
}

@media screen and (max-width: 466px) and (min-width: 300px){
  .email-fixed {
    transform: rotate(0deg);
  }
  @keyframes show-email {
    from {
      opacity: 0;
      right: -310px;
    }
    to {
      opacity: 1;
      right: -190px
    }
  }
}

@media screen and (max-width: 599px) and (min-width: 467px){
  .email-fixed {
    transform: rotate(0deg);
  }
  @keyframes show-email {
    from {
      opacity: 0;
      right: -310px;
    }
    to {
      opacity: 1;
      right: -180px
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 728px){
  @keyframes show-email {
    from {
      opacity: 0;
      right: -310px;
    }
    to {
      opacity: 1;
      right: -240px
    }
  }
}

@media screen and (min-width: 729px) and (max-width: 1130px){
  @keyframes show-email {
    from {
      opacity: 0;
      right: -380px;
    }
    to {
      opacity: 1;
      right: -80%
    }
  }
}