.email-fixed {
  display: flex;
  width: 400px;
  height: 70px;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  opacity: 0;
  transform: rotate(90deg);
  animation: show-email 600ms ease forwards;
  animation-delay: 4.7s;
  top: calc(100% - 175px)
}

.email-fixed .email-text {
  color: #fff;
}

@keyframes show-email {
  from {
    opacity: 0;
    right: -580px;
  }
  to {
    opacity: 1;
    right: -500px;
  }
}

.email-text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.email-text:hover {
  transform: translateX(-7px);
  color: #ff6363;
}

.email-fixed-line {
  margin-left: 40px;
  width: 175px;
}


@keyframes show-email {
  from {
    opacity: 0;
    right: 100%;
  }
  to {
    opacity: 1;
    right: calc(100% - 250px);

  }
}



@media screen and (max-width: 494px) and (min-width: 2px){
  .email-fixed {
    transform: rotate(180deg);
  }

  .email-fixed a {
    transform: rotate(180deg);
  }
  @keyframes show-email {
    from {
      opacity: 0;
      right: 500px;
      top: calc(100% - 310px)
    }
    to {
      opacity: 1;
      right: calc(100% - 240px);
      top: calc(100% - 310px)
    }
  }
}


@media screen and (max-width: 599px) and (min-width: 495px){
  .email-fixed {
    transform: rotate(180deg);
  }

  .email-fixed a {
    transform: rotate(180deg);
  }
  @keyframes show-email {
    from {
      opacity: 0;
      right: 500px;
      top: calc(100% - 310px)
    }
    to {
      opacity: 1;
      right: 250px;
      top: calc(100% - 310px)
    }
  }
}



@media screen and (min-width: 729px) and (max-width: 1130px){
  @keyframes show-email {
    from {
      opacity: 0;
      right: 100%;
    }
    to {
      opacity: 1;
      right: calc(100% - 300px);
    }
  }
}

@media screen and (min-width: 1250px){
  @keyframes show-email {
    from {
      opacity: 0;
      right: 100%;
    }
    to {
      opacity: 1;
      right: calc(100% - 400px);
    }
  }
}