.navlink {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

.small-navlink {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.navlink:hover {
  color: #ff6363;
  transform: translateY(-2px);
}

.small-navlink:focus{
  color:#ff6363;
}

.navlink {
  color: #fff;
  display:inline-block;
  margin:0;
  text-transform:uppercase;
}
.navlink:after {
  display:block;
  content: '';
  border-bottom: solid 2px #ff6363;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navlink:hover:after { transform: scaleX(1); }
.navlink.fromRight:after{ transform-origin:100% 50%; }
.navlink.fromLeft:after{  transform-origin:  0% 50%; }

.MuiSvgIcon-root {
  color: #ff6363;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  opacity: 0.8;
}

@media screen and (min-width: 600px) {
  .MuiToolbar-root {
    margin-left: 8%;
  }
    
  .MuiBox-root:nth-child(3) {
      margin-right: 8%;
  }
}

@keyframes show-header {
  from {
    top: -150px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

nav.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-18nlzi-MuiPaper-root-MuiAppBar-root{
  animation: show-header 3s ease forwards;
}

main.MuiBox-root.css-19kzrtu {
  padding: 0;
}