.socials-fixed {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 70px;
  height: 400px;
  opacity: 0;
  animation: show-socials 600ms ease forwards;
  animation-delay: 4.7s;
  top: calc(100% - 300px)
}

.socials-fixed.socials-fixed-line {
  background-color: #fff;
}

.socials-fixed .socials-icons a {
  color: #fff;
}


.socials-icons a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.socials-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 50px;
  font-size: 1.5rem;
}

.socials-icons a:hover {
  transform: translateY(-5px);
  color: #ff6363;;
}

@keyframes show-socials {
  from {
    opacity: 0;
    left: -430px;
  }
  to {
    opacity: 1;
    left: -350px;
  }
}

.socials-fixed-line {
  width: 2px;
  height: 175px;
  text-align: center;
  background-color: var(--main-white);
  border: 8 68 8 40;
}

@keyframes show-socials {
  from {
    opacity: 0;
    right: -260px;
  }
  to {
    opacity: 1;
    right: 10px;
  }
}

@media screen and (max-width: 494px) and (min-width: 2px){
  .socials-fixed {
    transform: rotate(-90deg);
  }
  
  .socials-fixed .socials-icons a svg {
  transform: rotate(90deg);;
}

  @keyframes show-socials {
    from {
      opacity: 0;
      left: 600px;
      top: calc(100% - 400px)
    }
    to {
      opacity: 1;
      left: calc(100% - 100px);
      top: calc(100% - 400px)
    }
  }
}


@media screen and (max-width: 599px) and (min-width: 495px){
  .socials-fixed {
    transform: rotate(-90deg);
  }
  
  .socials-fixed .socials-icons a svg {
  transform: rotate(90deg);;
}

  @keyframes show-socials {
    from {
      opacity: 0;
      left: 600px;
      top: calc(100% - 400px)
    }
    to {
      opacity: 1;
      left: 400px;
      top: calc(100% - 400px)
    }
  }
}


@media screen and (min-width: 729px) and (max-width: 1130px){
  @keyframes show-socials {
    from {
      opacity: 0;
      left: 100%;
    }
    to {
      opacity: 1;
      left: calc(100% - 135px)
    }
  }
}

@media screen and (min-width: 1250px){
  @keyframes show-socials {
    from {
      opacity: 0;
      left: 100%;
    }
    to {
      opacity: 1;
      left: calc(100% - 235px)
    }
  }
}