*{
  padding: 0;
  margin: 0;
}
body{
  background: #241d20;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3%;
}
.container span{
  display: block;
}
.text1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: #241d20;
  position: relative;
  animation: text 2.5s 1;
  width: 90%;
  max-width: 362px;
}
.text2{
  font-size: 1.2rem;
  color: white;
}
@keyframes text {
  0%{
    color: rgb(3, 20, 94);
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

h1 {
  letter-spacing: 8px;
  font-size: 2.4rem;
  color: white;
}

.badge {
  text-align: center;
  width: 40%;
  max-width: 252px;
  min-width: 205px;
  border-radius: 5px;
  background-color: #9b30f9;
}