@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
  width: 100%;
  color:#555;
  font-family:'Montserrat';
  font-weight:300;
  font-size:32px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

div {
  overflow:hidden;
  white-space:nowrap;
}

div:first-of-type {     
  animation: showup 7s;
}

div:last-of-type {
  animation: reveal 7s;
}

div:last-of-type span {
  animation: slidein 7s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-255px; }
    20% { margin-left:-255px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:255px;}
    80% {opacity:1;}
    100% {opacity:0;width:255px;}
}
